@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Exo", sans-serif;
  font-style: normal;
}

body{
  background-color: aqua !important;
}

.bg{
  box-shadow: 1px 20px 20px 1px !important;
  border-radius: 15px !important;
  background-color: white !important;
  padding: 20px !important;
  margin: 20px !important;
}

input{
  margin-top: 20px !important;
  padding: 15px !important;
}

button{
  margin: 20px 0px !important;
  width: 150px !important;
}